body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: Roboto;
  color: ##525B72;
  font-weight: bold;
}
h1, p {
	text-align: center;
  margin-bottom: 50px
}

.btn-blue {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
    background-color: #0D1EC6;
    padding: 20px;
    border-radius: 5%;
}

a:hover {
  color: #CE2FAE;
}

.banner {
  background-image: url("https://i.etsystatic.com/23250965/r/il/9276b1/3404437908/il_1140xN.3404437908_qnji.jpg");
  margin: 0px;
  background-size: cover;
  background-position:top;
  text-align: center;
  color: black;
  padding: 150px;
}
.white-card {
  box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  width: 300px;
  border-radius: 5%;
  text-align: center;
}

.white-card img{
  width: 100%;
  border-radius: 5%;
}
#container {
  width: 1000px;
  margin: 0 auto;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}